@model GitHub_Users_Repo_Web_App.Models.GitHub.GitHubUserDetails;

@{
    ViewData["Title"] = "GitHub User Details";
}

<div>
    <p><u>Please find below the Name, Location and Avatar URL of the username you inputted: </u></p>

    <label asp-for="Name"></label>
    <p>@Model.Name</p>

    <label asp-for="Location"></label>
    <p>@Model.Location</p>

    <label asp-for="Image"></label>
    <img src="@Model.Image" alt="Avatar Image" style="width: 200px; height: 200px;" />

</div>

<br />

<div>

    @if(Model.Repositories == null || Model.Repositories.Count == 0)
    {
        <label class="text-danger">No respositories found for this user.</label>
    } else
    {
        <p><u>Please find below the top 5 repositories with the highest stargazer count:</u></p>

        <table>
            <thead>
                <tr>
                    <th>Repository Name</th>
                    <th>Description</th>
                    <th>Stargazer Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var repo in Model.Repositories)
                {
                    <tr>
                        <td><a href="@repo.Url">@repo.Name</a></td>
                        <td>@repo.Description</td>
                        <td>@repo.StargazersCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
